.container {
    display: flex;
    margin: 2rem 3rem;
}

.mainDetails {
    display: flex;
    flex-direction: row;
}

.image {
    display: flex;
    max-width: 250px;
    height: auto;
}

.actors {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.actor {
    margin: 10px;
}

ul {
    list-style-type: none;
}

@media (max-width: 768px) {
    .container2 {
        display: flex;
        flex-direction: column;
    }
    .image {
        display: flex;
        max-width: 250px;
        height: auto;
    }
    .mainDetails {
        display: flex;
        flex-direction: column;
    }
}