body {
  margin: 0;
  background-color: darkGrey;
}
.App {
  position: relative;
}

.person-card-wrapper {
  height: 380px;
}
.movie-card,
.person-card {
  height: 100%;
}

.image {
  width: 100%;
  min-width: 100% !important;
  text-align: center;
  cursor: pointer;
}

.search-icon {
  color: white;
}

.search-icon :hover {
  color: gray;
}

.time-stamp {
  color: gray;
}
.card-body {
  height: 100%;
}
