body {
  margin: 0;
}
.App {
  position: relative;
}

.movie-card-wrapper {
  height: 460px;
  
}
.person-card-wrapper {
  height: 380px;
}
.movie-card,
.person-card {
  height: 100%;
}

.image {
  height:100%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.search-icon{
  color:white
}

 .search-icon :hover{
  color: gray;
}

.time-stamp{
  color:gray
}
.card-body{
  height:100%
}